.idea/
*/target/*
logs/*
output/*
thirdpart/nacos-2.2.1/bin/logs/*
thirdpart/nacos-2.2.1/logs/*
thirdpart/nacos-2.2.1/data/*
thirdpart/redis/logs/*
thirdpart/minio/data/*
thirdpart/seata-1.6.1/logs/*
thirdpart/seata-1.6.1/bin/logs/*
thirdpart/seata-1.6.1/bin/sessionStore/*

